<!DOCTYPE html>
<html>

    <head>
         <meta charset="UTF-8"/>
         <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
         <title>{% block title %}Welcome!{% endblock %}</title>
         
          {% block stylesheets %}

          <link rel="stylesheet" href="{{asset('/css/admin.css')}}"> 

          {% endblock %}
    </head>
    <body>
       
        {% block nav %}
     <div class="compte">
       <nav class="navbar">
                <div class="row">
                <div class="col-25">
                    <img src="{{asset('/image/logo.jpeg')}}" alt="logo" id="logo">
                    <h1>BANQUE DU PEUPLE</h1>
                </div>
                <div class="col-75">
                    <ul>
                        <li><a href="{{path('addCC')}}">Ajout Compte</a></li>
                        <li><a href="{{path('listeCC')}}">Liste des Comptes</a></li>
                        <li><img src="{{asset('/image/user-connect.png')}}" alt="Avatar" class="user"><a> gadiaga</a></li>
                        <li id="connexion"><a onclick="deconnexion()" id="deconect">Déconnexion</a></li>  
                
                    </ul>
                </div>
                </div>
            </nav>
      <div class="corps">
        <div class="sliderBar">
                <div class="espace">

                </div>
                <div class="action">
                    <div class="slb-blanc"><a href="{{path('employeur')}}">Ajouter Employeur</a></div>
                    <div class="slb-degrade"><a href="{{path('salarie')}}">Ajouter Client Salarie</a></div>
                    <div class="slb-blanc"><a href="{{path('entreprise')}}">Ajouter Client Entreprise</a></div>
                    <div class="slb-degrade"><a href="{{path('nonsalarie')}}">Ajouter Client Non Salarie</a></div>
                    <div class="slb-blanc"><a href="{{path('addtypecompte')}}"> Ajouter Type de Compte </a></div>
                    <div class="slb-degrade"><a href="{{path('addtypeclient')}}">Ajouter Type de Client</a></div>
                    <div class="slb-blanc"><a href="{{path('addetat')}}">Ajouter Etat</a></div>
                    <div class="slb-degrade"><a href="">Creer Utilisateur</a></div>
                </div>
                
            </div>

         {% block body %}
        
         {% endblock %}
       
        {% endblock %}
     
       
   
        
        {% block javascripts %}

          <script type="text/javascript" src="{{asset('/js/compte.js')}}"></script> 

        {% endblock %}
    </body>
</html>
